In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
filename = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"

In [3]:
headers=["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [4]:
df=pd.read_csv(filename,names=headers)
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

<h4>convert "? to NaN" </h4> Replacing unknown values

In [5]:
df["normalized-losses"].replace('?',np.nan,inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [6]:
missingdata =df.isnull()
missingdata.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
for column in missingdata.columns.values.tolist():
    print(column)
    print(missingdata[column].value_counts())
    print(" ")

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    205
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    205
Name: bore, dtype: int64

stroke
False    205
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    205
Name: horsepower, dtype: int64

peak-rpm
False    205
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    205
Name: price, dtype: int64

In [8]:
for column in df.columns.values.tolist():
    print(column)
    print(df[column].value_counts())

symboling
 0    67
 1    54
 2    32
 3    27
-1    22
-2     3
Name: symboling, dtype: int64
normalized-losses
161    11
91      8
150     7
134     6
104     6
128     6
102     5
74      5
65      5
168     5
103     5
94      5
95      5
85      5
122     4
148     4
106     4
93      4
118     4
115     3
83      3
154     3
137     3
101     3
125     3
145     2
119     2
188     2
194     2
164     2
153     2
89      2
192     2
108     2
113     2
81      2
158     2
197     2
129     2
110     2
87      2
78      1
90      1
77      1
186     1
256     1
142     1
231     1
107     1
98      1
121     1
Name: normalized-losses, dtype: int64
make
toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
chevrolet         3
alfa-romero       3
jaguar            3
renault           2
mercury           1
Name: make, dtype: int64
fuel-type
gas       185
diesel     20
Name: fuel-type, dtype: int64
aspiration
std      168
turbo     37
Name: aspiration, dtype: int64
num-of-doors
four    114
two      89
?         2
Name: num-of-doors, dtype: int64
body-style
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body-style, dtype: int64
drive-wheels
fwd    120
rwd     76
4wd      9
Name: drive-wheels, dtype: int64
engine-location
front    202
rear       3
Name: engine-location, dtype: int64
wheel-base
94.5     21
93.7     20
95.7     13
96.5      8
98.4      7
97.3      7
96.3      6
107.9     6
98.8      6
99.1      6
104.3     6
100.4     6
93.1      5
97.2      5
102.4     5
109.1     5
95.9      5
101.2     4
97.0      4
114.2     4
95.3      4
105.8     3
103.5     3
110.0     3
89.5      3
99.8      2
86.6      2
113.0     2
104.5     2
104.9     2
88.6      2
96.9      2
91.3      2
115.6     2
102.9     2
96.1      2
103.3     2
112.0     1
99.5      1
88.4      1
99.2      1
96.0      1
102.0     1
106.7     1
93.0      1
99.4      1
93.3      1
102.7     1
120.9     1
95.1      1
96.6      1
94.3      1
108.0     1
Name: wheel-base, dtype: int64
length
157.3    15
188.8    11
166.3     7
171.7     7
186.7     7
165.3     6
177.8     6
176.2     6
186.6     6
176.8     5
172.0     5
175.6     5
173.2     5
172.4     4
169.0     4
168.7     4
198.9     4
168.9     4
192.7     3
158.7     3
155.9     3
170.7     3
169.7     3
159.1     3
150.0     3
175.4     3
168.8     2
167.3     2
170.2     2
173.4     2
         ..
173.6     2
166.8     2
187.5     1
165.6     1
178.5     1
172.6     1
178.4     1
181.5     1
208.1     1
159.3     1
197.0     1
162.4     1
165.7     1
158.8     1
180.3     1
169.1     1
157.1     1
156.9     1
171.2     1
163.4     1
178.2     1
191.7     1
199.2     1
141.1     1
181.7     1
157.9     1
177.3     1
175.7     1
193.8     1
183.1     1
Name: length, Length: 75, dtype: int64
width
63.8    24
66.5    23
65.4    15
63.6    11
64.4    10
68.4    10
64.0     9
65.5     8
65.2     7
66.3     6
64.2     6
67.2     6
65.6     6
67.9     5
66.9     5
68.9     4
64.8     4
65.7     4
65.0     3
63.9     3
71.4     3
71.7     3
70.3     3
64.6     2
64.1     2
67.7     2
66.1     2
68.3     2
69.6     2
61.8     1
72.0     1
68.8     1
62.5     1
66.0     1
63.4     1
70.5     1
72.3     1
68.0     1
70.9     1
66.2     1
66.4     1
60.3     1
70.6     1
66.6     1
Name: width, dtype: int64
height
50.8    14
52.0    12
55.7    12
54.5    10
54.1    10
55.5     9
56.7     8
54.3     8
51.6     7
56.1     7
52.6     7
50.2     6
53.0     6
54.9     6
52.8     6
53.7     5
55.1     5
50.6     5
53.3     4
58.7     4
49.6     4
57.5     3
53.5     3
49.7     3
59.1     3
56.2     3
52.5     3
49.4     2
48.8     2
56.3     2
54.4     2
59.8     2
56.5     2
54.7     2
51.4     2
53.9     2
50.5     2
56.0     1
51.0     1
52.4     1
55.4     1
55.6     1
53.1     1
58.3     1
47.8     1
54.8     1
55.9     1
53.2     1
55.2     1
Name: height, dtype: int64
curb-weight
2385    4
1989    3
1918    3
2275    3
3230    2
2410    2
3252    2
2337    2
2403    2
2414    2
2145    2
3139    2
2395    2
1876    2
1874    2
2128    2
1967    2
2380    2
4066    2
2756    2
2579    2
3075    2
2535    2
2548    2
1909    2
2191    2
2290    2
2024    2
2300    2
3151    1
       ..
2707    1
3217    1
3770    1
2190    1
2094    1
2302    1
2443    1
2954    1
2261    1
2695    1
3740    1
3485    1
1951    1
2976    1
2952    1
2563    1
1971    1
1985    1
3505    1
2480    1
2734    1
2221    1
2670    1
2926    1
1950    1
3750    1
1956    1
2037    1
2465    1
2304    1
Name: curb-weight, Length: 171, dtype: int64
engine-type
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: engine-type, dtype: int64
num-of-cylinders
four      159
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: num-of-cylinders, dtype: int64
engine-size
122    15
92     15
98     14
97     14
108    13
90     12
110    12
109     8
120     7
141     7
152     6
121     6
146     6
181     6
91      5
156     5
136     5
130     4
183     4
194     3
164     3
171     3
209     3
70      3
234     2
131     2
134     2
140     2
258     2
132     2
111     1
103     1
145     1
151     1
119     1
173     1
203     1
80      1
79      1
326     1
61      1
308     1
304     1
161     1
Name: engine-size, dtype: int64
fuel-system
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuel-system, dtype: int64
bore
3.62    23
3.19    20
3.15    15
2.97    12
3.03    12
3.46     9
3.78     8
3.43     8
3.31     8
3.27     7
2.91     7
3.58     6
3.39     6
3.05     6
3.54     6
3.01     5
3.70     5
3.35     4
?        4
3.59     3
3.74     3
3.17     3
3.24     2
3.63     2
3.33     2
3.13     2
3.94     2
3.47     2
3.50     2
3.80     2
2.99     1
3.34     1
2.68     1
3.60     1
2.92     1
3.76     1
2.54     1
3.08     1
3.61     1
Name: bore, dtype: int64
stroke
3.40    20
3.23    14
3.03    14
3.15    14
3.39    13
2.64    11
3.35     9
3.29     9
3.46     8
3.19     6
3.50     6
3.41     6
3.07     6
3.58     6
3.27     6
3.11     6
3.52     5
3.64     5
3.47     4
3.86     4
?        4
3.54     4
2.90     3
3.90     3
2.68     2
3.08     2
3.10     2
2.80     2
4.17     2
2.19     2
2.87     1
2.36     1
2.76     1
2.07     1
3.16     1
3.12     1
3.21     1
Name: stroke, dtype: int64
compression-ratio
9.00     46
9.40     26
8.50     14
9.50     13
9.30     11
8.70      9
9.20      8
8.00      8
7.00      7
21.00     5
7.50      5
9.60      5
23.00     5
8.40      5
8.60      5
21.50     4
7.60      4
10.00     3
22.50     3
8.30      3
8.80      3
7.70      2
8.10      2
9.31      1
21.90     1
22.00     1
11.50     1
9.41      1
10.10     1
9.10      1
22.70     1
7.80      1
Name: compression-ratio, dtype: int64
horsepower
68     19
70     11
69     10
116     9
110     8
95      7
114     6
160     6
62      6
88      6
101     6
97      5
102     5
82      5
76      5
84      5
145     5
92      4
86      4
123     4
111     4
90      3
121     3
85      3
207     3
152     3
182     3
73      3
162     2
56      2
52      2
?       2
176     2
112     2
156     2
155     2
184     2
100     2
94      2
161     2
262     1
134     1
200     1
78      1
135     1
115     1
58      1
55      1
140     1
142     1
106     1
120     1
143     1
154     1
64      1
60      1
288     1
175     1
72      1
48      1
Name: horsepower, dtype: int64
peak-rpm
5500    37
4800    36
5000    27
5200    23
5400    13
6000     9
4500     7
5250     7
5800     7
4150     5
4200     5
4350     4
4750     4
5900     3
4250     3
5100     3
4400     3
?        2
6600     2
5600     1
5750     1
4650     1
5300     1
4900     1
Name: peak-rpm, dtype: int64
city-mpg
31    28
19    27
24    22
27    14
17    13
26    12
23    12
21     8
30     8
25     8
38     7
28     7
37     6
16     6
22     4
15     3
18     3
29     3
20     3
14     2
49     1
47     1
32     1
33     1
34     1
35     1
36     1
45     1
13     1
Name: city-mpg, dtype: int64
highway-mpg
25    19
24    17
38    17
30    16
32    16
34    14
37    13
28    13
29    10
33     9
31     8
22     8
23     7
27     5
43     4
41     3
42     3
26     3
20     2
19     2
18     2
16     2
36     2
39     2
46     2
47     2
53     1
50     1
17     1
54     1
Name: highway-mpg, dtype: int64
price
?        4
16500    2
7609     2
6229     2
5572     2
6692     2
7898     2
7957     2
8845     2
13499    2
7775     2
18150    2
7295     2
9279     2
8495     2
8921     2
9495     1
8449     1
7129     1
6795     1
15580    1
6849     1
15645    1
18344    1
6669     1
21105    1
13200    1
17669    1
10295    1
7126     1
        ..
16900    1
5399     1
18420    1
13845    1
32528    1
36000    1
12170    1
6189     1
6295     1
8238     1
7975     1
11694    1
17199    1
6575     1
6488     1
8058     1
18620    1
37028    1
7738     1
21485    1
10698    1
8249     1
8499     1
9895     1
6855     1
6989     1
12764    1
11248    1
5195     1
15510    1
Name: price, Length: 187, dtype: int64

<h4> calculate the average of normailzed loss and replace it with the missing values</h4>

In [12]:
avgnorm_loss = df['normalized-losses'].astype('float').mean(axis=0)
print("Average of normalized-losses:", avgnorm_loss)

Average of normalized-losses: 122.0

In [13]:
df["normalized-losses"].replace(np.nan,avgnorm_loss, inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<h4>Convert bore data type to float , find the average value and replace the unknown values with mean</h4>

In [ ]:
df.dtypes

<h4> To see the count in particular column .value_counts()</h4>

In [ ]:
 df['num-of-doors'].value_counts().idxmax()

In [ ]:
df['num-of-doors'].replace('?','four', inplace=True)

In [ ]:
df.dropna(subset=["price"],axis=0, inplace=True)
df.reset_index(drop = True,inplace=True)
df.head()

In [14]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")

ValueError: could not convert string to float: '?'